<nav class="navigation">
  <ul class="navigation__list">
    <li class="navigation__item"><a href="/">Inicio</a></li>
    <li class="navigation__item"><a href="/horas">Reserva de Horas</a></li>
  </ul>
</nav>

