<% include partials/head %>
<% include partials/header %>
  
  <div class="container row">
    <h1><%= title %></h1>
    <form action="/users" method="post">
      <input type="text" name="name" placeholder="Nombre" />
      <input type="text" name="lastname" placeholder="Apellidos" />
      <input type="email" name="email" placeholder="E-Mail" />
      <input type="password" name="password" placeholder="Contraseña" />
      <button type="submit">Crear usuario</button>
    </form>
  
    <table id="users-table">
      <tr>
        <th>Firstname</th>
        <th>Lastname</th>
        <th>Email</th>
      </tr>
    </table>
  </div>
  

<% include partials/footer %>