body {
  padding: 0px;
  font-family: "Roboto";
}

a {
  color: #00b7ff;
}

#users-table {
  margin-bottom: 3rem;
}

.navigation {
  padding: 0 3rem;
}

.navigation__list {
  display: flex;
  justify-items: end;
}

.footer {
  background: darkslategrey;
  padding: 2rem;
}

.formulario {
  padding: 3rem;
  margin-bottom: 3rem;
}
